@import "tailwindcss";

:root {
  --background: #26262b;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-avenir);
  --font-mono: var(--font-geist-mono);

  --color-setapp-dark: #26262b;
  --color-setapp-darkSecondary: #2b2d32;
  --color-setapp-darkHover: #1d1d22;
  --color-setapp-pink: #df96ae;
  --color-setapp-beige: #f4f0e4;
  --color-setapp-blue: #384c75;
  --color-setapp-purple: #765070;
  --color-setapp-peach: #f0ad84;
  --color-setapp-tan: #e6c3a5;
  --color-setapp-orange: #f6cf98;
  --color-setapp-border: #e5e5e5;
  --color-setapp-gray: #9d9ca2;
  --color-setapp-lightBg: #f7f5f2;
  --color-setapp-tanSecondary: #d9ae89;
  --color-setapp-lavender: #71719a;
  --color-setapp-grayMuted: #9f9f9f;
  --color-setapp-white: #fefefe;
  --color-setapp-offWhite: #f5f5f5;
  --color-setapp-footerInput: #404547;
  --color-setapp-footerUtility: #3a3c41;
  --color-setapp-dot: #d5d4d4;
  --color-setapp-grayText: #969799;
  --color-setapp-dmca: #555555;
  --color-setapp-dmcaBg: #3a3c41;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-hero-float: hero-float 6s ease-in-out infinite;
  @keyframes hero-float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
